@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}
h1{
	color: black;
	font-weight: bold;
	font-size: 70px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 23px;
}
/* .wrap {
	
} */
/*Open Header*/
.header {
	background-color: #b9620c;
	width:100%;
	padding: 10px;
}

.header-content{
	width:80%;
	color: white;
	margin:auto;
}
.header-content i{
	margin-right: 10px;
	margin-left: 20px;
}
/* Close Header */
/*Open Menu*/
.menu{
	padding: 10px;
	margin-left: 120px;
	width:100%;
}
.menu ul{
	list-style:none;
}
.logo-page, .menu-choose, .link{
	float:left;
	margin-left: auto;
}
.logo-page img{
	width:200px;
	height:100px;
}
.menu-choose{
	width:45%;
	margin-left: 20px;
	padding-top:25px;
}
.menu-choose ul li a{
	font: Tahoma, Geneva, sans-serif;
	text-decoration:none;
	font-weight:bold;
}
.menu-choose ul li.active a{
	color:#F63;
	font-weight: bold;
}
.menu-choose ul li, .link ul li{
	margin-left:auto;
	float:left;
}
.menu-choose ul li{
	margin-left: 30px;
}
.link{
	margin-top: 15px;
	width:30%;
}
.link img{
	width:40px;
	height:40px;
}
/*Close Menu*/
/*Open Slider*/
.slider{
	width: 100%;
	height: 1080px;
	background-image: url('image/river1k.jpg');
	background-color: #b9620c;	
}
.slider-caption h1{
	color: gainsboro;
	-webkit-text-stroke: rgb(19, 17, 16);
	-webkit-text-stroke-width: 2px;
	-webkit-text-fill-color: snow;
}
.slider-caption{
	font-size: 35px;
	color:white;
	text-align: center;
	padding-top: 20%;
	padding-left: 200px;
	margin-bottom: 30px;
}
.slider-social{
	padding-left:38%;
	text-align: center;
	color: aliceblue;
}
.slider-social h2, .slider-social i{
	float: left;
	font-size: 35px;
	color: azure;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 2px;	
	margin-left: 40px;
}
/*Close Slider*/
/* Open AboutMe */
.aboutme{
	width: 100%;
	background-color: #fcee89;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.aboutme-content{
	padding-top: 50px;
	padding-bottom: 50px;
}
.aboutme-content h1{
	font-weight: bold;
	color: rgb(236, 73, 95);
	font-family: 'Courier New', Courier, monospace;
}
.aboutme-content p{
	width: 100%;
}
.aboutme-feature{
	background-color: #fcee89;
}
.aboutme-feature p{
	width: 90%;
	height: 230px;
	padding-left: 10px;
	text-justify: distribute;	
}
.bestview, .affordable, .spacious, .building{
	background-color: #fcee89;
	float: left;
	width: 24.2%;
	padding-left: 15px;
	padding-bottom: 15px;
}
.aboutme i{
	font-size: 50px;
}
/* Close AboutMe */
/* Open FutureHome */
.futurehome{
	width: 100%;
	background-color: aquamarine;
}
.futurehome-img{
	width: 60%;
	float: left;
}
.futurehome-img, .futurehome-info{
	background-color: aquamarine;
}
.futurehome-img img{
	max-width: 100%;
}
.futurehome-info{
	width: 36%;
	float: left;
	padding: 0 2%;
	
}
.futurehome-content{
	width: 100%;
	font-size: 27px;
	color:black;
}
.futurehome-content, .futurehome-information{
	background-color: aquamarine;
	margin-top: 20px;
}
.futurehome-information i, .futurehome-information span{
	font-style: normal;
	font-size: 30px;
	padding: 0 15px;
	padding-top: 17px;	
}
.futurehome-information span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	padding-left: 15px;
}
/* Close FutureHome */
/* Open Team */
.team{
	margin-left: auto;
	width: 100%;
	padding-top: 30px;
	text-align: center;
 }
.team, .team-content, .team-member-item{
	background-color: #f9ead7;
}
.para{
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 30px 0;
	letter-spacing: 3px;
	color: rgb(219, 149, 57);
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 0.5px;
}

.team-member{
	width: 100%;
	margin: auto;
	padding-top: 70px;
}
.team-member-item{
	float: left;
	width: 33.33%;
}
.team-member-item img{
	border: 3px;
	border-style: solid;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-color: black;
	max-width: 40%;
	height: 250px;
}
.team-member-item h2{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 35px;
	letter-spacing: 3px;
	margin-bottom: -1px;
}
.team-member-item h3{
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: normal;
	margin-bottom: 2px;
}
.line{
	margin-left: 25%;
	width: 50%;
	height: 2px;
	background-color: black;
	margin-bottom: 12px;
	margin-top: 12px;
}
.team-member-item i{
	font-size: 30px;
	margin-left: 20px;
	color: rgb(13, 146, 199);
	padding-bottom: 40px;
}
/* Close Team */
/* Open Customer */
.customerfb{
	width: 100%;
	height: 700px;
	padding-top: 40px;
	background-image: url("image/cool-background.jpg");
}
.customerfb-content, .customer{
	width: 80%;
	margin: auto;
}
.customerfb-content{
	text-align: center;
}
.customer{
	padding-top: 50px;
}
.customer-each{
	float: left;
	margin: auto;
	max-width: 30%;
}
.customer-each:nth-child(2){
	margin: 0 5%;
}
.customer-literal{
	padding: 15px 15px;
	background: rgba(238, 242, 243,0.4);
}
.customer-info{
	width: 100%;
	position: absolute;
	padding-top: 1%;
	padding-left: 4%;
	color: white
}
.customer-info img{
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}
.customer-info p{
	font-size: 20px;
	font-weight: bold;
}
/* Close Customer */